[submodule "yosys"]
	path = yosys
	url = https://github.com/os-fpga/yosys_rs.git
[submodule "yosys-plugins"]
	path = yosys-plugins
	url = https://github.com/chipsalliance/yosys-f4pga-plugins.git
[submodule "yosys-rs-plugin"]
	path = yosys-rs-plugin
	url = https://github.com/os-fpga/yosys-rs-plugin.git
[submodule "Raptor_Tools"]
	path = Raptor_Tools
	url = https://github.com/os-fpga/Raptor_Tools
[submodule "logic_synthesis-rs"]
	path = logic_synthesis-rs
	url = https://github.com/os-fpga/logic_synthesis-rs.git
