[submodule "yosys"]
	path = yosys
	url = git@github.com:RapidSilicon/yosys_rs.git
[submodule "benchmarks/vhdl/FPGA-FAST"]
	path = benchmarks/vhdl/FPGA-FAST
	url = git@github.com:PUTvision/FPGA-FAST.git
[submodule "benchmarks/vhdl/PoC-Examples"]
	path = benchmarks/vhdl/PoC-Examples
	url = git@github.com:VLSI-EDA/PoC-Examples.git
[submodule "benchmarks/vhdl/Trivium_FPGA"]
	path = benchmarks/vhdl/Trivium_FPGA
	url = git@github.com:yahniukov/Trivium_FPGA.git
[submodule "benchmarks/vhdl/vhdl-hdmi-out"]
	path = benchmarks/vhdl/vhdl-hdmi-out
	url = git@github.com:fcayci/vhdl-hdmi-out.git
[submodule "benchmarks/system_verilog/black-parrot"]
	path = benchmarks/system_verilog/black-parrot
	url = git@github.com:black-parrot/black-parrot.git
[submodule "benchmarks/system_verilog/ariane"]
	path = benchmarks/system_verilog/ariane
	url = git@github.com:lowRISC/ariane.git
[submodule "benchmarks/system_verilog/scm"]
	path = benchmarks/system_verilog/scm
	url = git@github.com:pulp-platform/scm.git
[submodule "benchmarks/system_verilog/udma_core"]
	path = benchmarks/system_verilog/udma_core
	url = git@github.com:pulp-platform/udma_core.git
[submodule "benchmarks/system_verilog/cva6"]
	path = benchmarks/system_verilog/cva6
	url = git@github.com:pulp-platform/cva6.git
[submodule "benchmarks/vhdl/itc99-poli"]
	path = benchmarks/vhdl/itc99-poli
	url = git@github.com:squillero/itc99-poli.git
