[submodule "yosys"]
	path = yosys
	url = git@github.com:RapidSilicon/yosys_rs.git
[submodule "yosys-plugins"]
	path = yosys-plugins
	url = git@github.com:SymbiFlow/yosys-f4pga-plugins.git
[submodule "verific"]
	path = verific
	url = git@github.com:RapidSilicon/verific_rs.git  
    branch = vJan22-yosys
[submodule "RTL_Benchmark"]
	path = RTL_Benchmark
	url = git@github.com:RapidSilicon/RTL_Benchmark.git
[submodule "yosys-rs-plugin"]
	path = yosys-rs-plugin
	url = git@github.com:RapidSilicon/yosys-rs-plugin.git
[submodule "logic_synthesis-rs"]
	path = logic_synthesis-rs
	url = git@github.com:RapidSilicon/logic_synthesis-rs.git
